*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.xml
SharedRoute-2-1/.idea/libraries/BaseRecyclerViewAdapterHelper_2_9_18.xml
*.xml
